html{
	font-family: 'Open Sans',sans-serif;

}

body {
	margin: 0;
}
/*.ttt{
	float: right;
}*/
.logo-nav-search {
	margin-bottom: 0.7em;
	
}
#search{
	border-radius: 0.6em;
	width: 10em;
}
.search div{
	background: transparent;
	border: none;
	background-image: url("img/searchBtn.png");
	float: right;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1.5em;
	width: 1.5em;
	float: right;
}
.logo-nav-search a{
	text-decoration: none;
	color: rgb(84,84,84);
}
.lang select{
	border: none;
	color: rgb(84,84,84);
}
.al-right{
	text-align: right;
	padding-right: 1em;
	padding-bottom: 1em;
}

header,
.Introduction,
.Solutions,  
.whats-happening,
.success-stories,
.footer {
	padding-top: 1em;
	padding-bottom: 1em;

}

.Introduction{
	background: url("img/slide-bg-complexity.jpg") no-repeat center center fixed;
	background-size: cover;
	/*min-height: 450px;*/
	padding: 0;
	margin: 0;

}
header{
	font-size: 0.7em;
}
header ul li{
	display:inline;
	text-decoration: none;
	list-style-type: none;
	text-align: -webkit-match-parent;
}
nav ul li {
	text-transform: uppercase;
}
.whats{
	padding: 0;
	margin:0 ;
}
.learn-more-button{
	/*padding-left: 1em;*/
}
.radio-but{
	margin-top: 1em;
	/*margin-left: 1em;*/
}

/*=======================*/


/*=======================*/
.radio-but input{
	margin: 0;
}

.about-comverse1,.about-comverse2,.about-comverse3{
	/*background-color: rgba(245,59,150,0.7);*/
	margin: 1em;
	margin-left: 0;
	width: calc(33.33% - 2em);
	box-sizing:border-box;
    height: 8em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    /*margin-right: 10px;*/
    border-radius: 6px;
    list-style-type: none;
    box-shadow: 0 1px 3px 0 grey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    color: white;
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
}
.read-more1,
.read-more2,
.watch-now{
	background: transparent;
	border: none;
	color: white;
	padding-top: 1em;
	position: relative;

}
.but-txt{
	position: absolute;
	top: calc(50% - 0.2em)	;
	width: 6em;
	margin-left: 1em;
}
.read-more1,
.read-more2,
.watch{
	

}
.read-more1 div{
	background-image: url("img/link-icon-image.png");
}
.read-more2 div{
	background-image: url("img/link-icon-image.png");
}
.watch-now div{
	background-image: url("img/link-icon-image.png");
}
.read-more1 div,
.read-more2 div,
.watch-now div{
	display: inline-block;
	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 1.5em;
	width: 1.5em;
	padding-right: 0.1em;
}
.about-comverse p{
	margin: 0.3em;
}
.about-comverse1{
	background-color: rgba(255,60,159,0.8);
	/*color: rgba(255,255,255,0.9);
	margin: auto;
	text-align: center;
	    float: left;
	 display: list-item;
    text-align: -webkit-match-parent
        width: 27%;
    height: 7em;
    padding: 20px 15px 20px 15px;
    margin-right: 34px;
    border-radius: 6px;
    list-style-type: none;
    box-shadow: 0 1px 3px 0 grey;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    color: white;*/

}
.whats-happening{
		background-image: url("img/news-and-events-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: center;

}
.u-hidden{
	visibility: hidden;
}
.news-and-events-elements{
	width: 25%;
	baceskground-color: rgba(255,255,255,0.4);
	text-align: left;
	/*padding: 1em;*/
}
.news-and-events-elements .date{
	background-color: #2e94c8;
	float: left;
	text-align: center;
	color: white;
	margin: 0.5em;
	width: 3em;
	height: 5em;
}
.news-and-events-elements .date .day{
	border-bottom-style: dotted;
	border-bottom-width: 0.1em;
	padding-bottom: 0.5em;
	height: 0.8em;
	
}
.news-and-events-elements .date .month{
	height: 0.6em;
	padding: 0em;
	margin: 0em;
}
.news-and-events-bg{
	background-color: rgba(255,255,255,0.4);
}
.whats-happening h4,
.whats-happening h3{
	color: white;
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 0;
}
.whats-happening h3{
	font-size: 2em;


}
.whats-txt{
	padding-top: 0.5em;
}
.all-news-button,
.all-events-button{
	background: transparent;
	border: none;
	color: white;
	padding-top: 1em;
}
.all-news-button div/*,
.all-events-button div*/{
	display: inline-block;
	background-image: url("img/link-icon-image.png");
	width: 1.5em;
	padding-right: 0.1em;
}

.blue-button{
	background: url(img/btnArrow.png) right 1.5em center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 2.8em;
	width: 14em;
	padding: 0.8em;
	padding-left: 1em;
	border: none;
	text-align: left;
	border-radius: 0.6em;
	color: white;
}
.success-stories{
	background-color: #ECECEC;
	text-align: center;
}

.succ-1,
.succ-2{
	width: 39%;
	display: inline-block;
}
.succ-2{
	
}
.succ-3{
	width: 20%;
	display: inline-block;
}
.success-icons{
	width: 99.5%;

}
.success-icon2,
.success-icon3
{
	display: inline-block;
}
.succ-1 .success-icon1,
.succ-2 .success-icon1,
.succ-1 .success-icon2,
.succ-2 .success-icon2,
.success-icon3{
	background: url(img/VIDEOCON_w108px_X_h95px.jpg);
	height: 5em;
	width: 32%;
	display: inline-block;
	background-position: center center;
}
.succ-3 .success-icon1,
.succ-3 .success-icon2{
	background: url(img/VIDEOCON_w108px_X_h95px.jpg);
	height: 5em;
	width: 48%;
	display: inline-block;
	background-position: center center;
}
.succ-1 .success-par{
	margin-bottom: 0.5em;
	padding: 0.5em;
	display: inline-block;
	background-color: white;
	width: 95%;
	height: 8em;
}
.succ-2 .success-par{
	margin-top: 0.5em;
	padding: 0.5em;
	display: inline-block;
	background-color: white;
	width: 95%;
	height: 8em;
}
.succ-3 .success-par{

	margin-bottom: 0.5em;
	padding: 0.5em;
	display: inline-block;
	background-color: white;
	width: 91%;
	height: 8em;
}
.succ-blue-button{
	background: url(img/btnArrow.png) right 1em center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 2.8em;
	width: 14em;
	padding: 0.8em;
	padding-left: 1em;
	border: none;
	text-align: left;
	border-radius: 0.6em;
	color: white;
	margin: 1em;

}
.about-comverse2{
	background-color: rgba(105,194,45,0.8);
	/*margin: auto;
	width: 15%;
	display: inline;*/
	
}
.about-comverse3{
	background-color: rgba(240,115,5,0.8);
	/*margin: auto;
	float: center;
	width:15%;
	display: inline;*/
	
}
.Solutions{
	background: linear-gradient(to left,#308fbf,#4daaca,#308fbf);
	color: white;
	text-align: center;
	height: 17em;
}
.Solutions a{
	text-decoration: none;
	color: white;
}
.all-solutions {
	height: 10em;
}

.t{
	width: 16%;
}
.data-mon{
	background: url("img/solution_icon_smart-money.png") no-repeat center center;
	background-size: contain;
	width: 5em;
	height: 5em;
	position: center;
}
.footer{
	background: linear-gradient(to left,#202020,#2B2B2B,#202020);
	color: white;
	width: 100%;
	padding: 0;
}
nav li + li,
.copyright li+li,
.al-right li+li
{
	background: url("img/divider.png") no-repeat top left;
	padding-left: 0.5em;
}
/*.float-right{
	float: right;
	margin: 1em;
}*/
.logo{
	/*margin-left: 1em;*/
	display: inline;
	width: 20%;
}
.inl,.search{
	display: inline;
	width: 20%;
	font-size: 1.1em;
	padding: 0.5em;
}
/*.search-txt{
	visibility: hidden;
}*/

.intro-title
{
	margin: 0em;
	max-width: 12em;
	color: white;
	padding-top: 1em;
	/*padding-left: 0.5em;*/
}
.Introduction h3{
	/*padding-left: 1em;*/
	color: white;
	max-width: 20em;
} 
.Introduction h3>span{
	display: block;
}
.box{
	margin: auto;
	width: 940px;
}
.threeee-col{
	width:33%;
}
.inline-b{
	display: inline-block;
}

.sol{
	width: 16%;
	display: inline;
	float: left;
}
header{
	padding: 0;
}
.lang,
.login
{

}
.u-clear-fix::after {
	content: '';
	visibility: hidden;
	display: block;
	clear: both;
}
.footer div{
	/*padding-left: 1em;*/
}
.footer ul{
	list-style-type: none;
}
.key-solutions, .products-and-services,.company,.blog
{
	float: left;
	width: 22%;
	
}
.key-solutions ul{
	padding-left: 0;
}
.copyright{
	clear: both;
}
.blog{
	background-color: #3D3D3D;
	width: 28%;
	margin-left: 1em;
	text-align: center;
	float: right;
	min-height: 22em;
}
.al-left{
	text-align: left;
}
.blog-container,
.news-and-events,
.success-icons,
.succ{
	display: flex;
	justify-content: space-between;
}
.blog h4{
	color: #2e94c8;
}
.blog-container div{
	width: 70%;
	/*padding: 1em;*/
}
.blog-container .date  .day
{
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0em;
}
.blog-container .date  .month
{
	font-size: 2.6em;
	margin-top: 0;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
}
.upper-blog{
	border-bottom-style: groove;
	border-bottom-width: 0.1em;
}
.blue-button2
{
	color: white;
	border: none;
	border-radius: 0.25em;
	text-align: left;
	background-color:#2F98CD;
	width: 5em;
	display: inline-block;
	height: 1.7em;
	margin-left: -1em;
}
#sign-up{
	height: 1.2em;
	border-radius: 0.25em;
	border: none;
	padding: 0.25em;
}
.icon-button1{
	background-image: url("img/socialMenuIcon-youtube.png");
	margin-left: 1em;
}
.icon-button2{
	background-image: url("img/socialMenuIcon-twitter.png");
	margin-left: 0.5em;
}
.icon-button3{
	background-image: url("img/socialMenuIcon-linkdin.png");
	margin-left: 0.5em;
}
.icon-button1,
.icon-button2,
.icon-button3
{
	border: none;	
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	/*width: 1.5em;
	height: 2em;*/
	padding: 1em;
	
	margin-bottom: 1em;
	margin-top: 4em;
	float: left;
}
.copyright li{
	display: inline-block;
	color: #676767;
}
.copyright{
	position: relative;
	/*padding: 1em;*/
	/*padding-left: 2em;*/
}
.copyright div{
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
}
.copyright ul{
	margin: 0;
	padding: 0;
}
.copyright-bottom{
	position: absolute;
	bottom: 0px;
}